<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-seurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br/>
<div>
    <a th:href="@{/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a><br/>
<a href="/orders/create"><span th:text="#{orders.create}"></span></a><br/>
<a href="/orders"><span th:text="#{orders.list}"></span></a>
<form>
    <span th:text="#{orders.span_label}"></span>
    <input name="orders" type="text">
    <input type="submit" th:value="#{orders.search}">

</form>
<form>
    <select name="customerId">-->
        <option
                th:each="c : ${customers}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>
    <input type="submit" th:value="#{laptop.search}">
</form>

<div class="notify">
    <div th:if="${message}">
        <!--/*@thymesVar id="message" type="Gom.codegym.AppConfiguration"*/-->
        <span th:text="${message}"></span>
    </div>
    <h1><span th:text="#{orders.h1}"></span></h1>
    <table border="1" >
        <tr>
            <th th:text="#{orders.th_label1}"></th>
            <th th:text="#{orders.th_label2}"></th>
            <th th:text="#{orders.th_label3}"></th>
            <th th:text="#{orders.th_label4}"></th>
            <th th:text="#{orders.th_label5}"></th>
            <th th:text="#{orders.th_label6}"></th>
            <th th:text="#{orders.th_label7}"></th>
            <th th:text="#{orders.th_label8}"></th>

        </tr>
        <tr th:each="o : ${orders} ">
            <td th:text="${o.customerDates}"></td>
            <td th:text="${o.customer.name}"></td>
            <td th:text="${o.customer.phone}"></td>
            <td th:text="${o.customer.email}"></td>
            <td th:text="${o.customer.address}"></td>

            <td><a th:href="@{/orders/edit/{id}(id=${o.getId()})}"><span th:text="#{orders.th_label6}"></span></a></td>
            <td><a th:href="@{/orders/delete/{id}(id=${o.getId()})}"><span th:text="#{orders.th_label7}"></span></a></td>
            <td><a th:href="@{/orders/view/{id}(id=${o.getId()})}"><span th:text="#{orders.th_label8}"></span></a></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{'/orders'(page=${orders.number - 1})}" th:if="${orders.hasPrevious()}"><span th:text="#{orders.previous}"></span></a>
    <span th:text="${orders.number + 1}"></span>/<span th:text="${orders.totalPages}"></span>
    <a th:href="@{'/orders'(page=${orders.number + 1})}" th:if="${orders.hasNext()}"><span th:text="#{orders.next}"></span></a>
</div>
</div>
</body>
</html>