<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring Security Example</title>
</head>
<body>
<h2>Spring Security Example</h2>
<hr/>
<!--<h3>-->
<!--    <span>Welcome !</span>-->
<!--    <div th:text="${#authentication.name}"></div>-->
<!--</h3>-->

Login as <a th:href="@{/user}">User</a> or <a th:href="@{/admin}">Admin</a>

<a th:href="@{/logout}">Logout</a>
</body>
</html>