<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring Security Example</title>
</head>
<body>

<hr/>
<h3>Admin dashboard</h3>

<a th:href="@{/}">Home</a> |
<a th:href="@{/customer}">List Customer</a> |
<a th:href="@{/orders}">List Orders</a> |
<a th:href="@{/laptop}">List Laptop</a> |
<a th:href="@{/producer}">List Producer</a> |
<a th:href="@{/logout}">Logout</a>
</body>
</html>

