<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring Security Example</title>
</head>
<body>
<hr/>
<h3>User dashboard</h3>
<br/>

<!--<div th:text="${#authentication}" sec:authorize="isAuthenticated()">-->
<a th:href="@{/}">Home Login</a> |
<a th:href="@{/customer}">List Customer</a> |
<a th:href="@{/logout}">Logout</a>
</body>
</html>