<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/laptop">Laptop list</a>
</p>

<form th:action="@{/laptop/create}"  method="post" th:object="${laptopForm}" enctype="multipart/form-data" >
    <table>

        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}" multiple/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="name" th:field="*{status}">
                    <option
                            th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Orders:</td>
            <td>
                <select name="customerDates" th:field="*{orders}">
                    <option
                            th:each="order : ${orders}"
                            th:value="${order.id}"
                            th:text="${order.customerDates}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>