<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Laptop</title>
</head>
<body>
<h1>Edit laptop</h1>
<a href="/orders">List Laptop</a>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/laptop/edit}" th:object="${laptopForm}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" th:value="${laptopForm.name}"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" name="image" th:value="${laptopForm.image}" multiple></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description" th:value="${laptopForm.description}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" name="price" th:value="${laptopForm.price}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="name" th:field="*{status}">
                    <option
                            th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">e
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Orders:</td>
            <td>
                <select name="customerDates" th:field="*{orders}">
                    <option
                            th:each="order : ${orders}"
                            th:value="${order.id}"
                            th:text="${order.customerDates}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Producer:</td>
            <td>
                <select name="name" th:field="*{producer}">
                    <option
                            th:each="p : ${producer}"
                            th:value="${p.id}"
                            th:text="${p.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Customer Name:</td>
            <td>
                <select name="name" th:field="*{customer}">
                    <option
                            th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                <select name="phone" th:field="*{customer}">
                    <option
                            th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:text="${c.phone}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <select name="email" th:field="*{customer}">
                    <option
                            th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:text="${c.email}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <select name="address" th:field="*{customer}">
                    <option
                            th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:text="${c.address}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>