<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Laptop</title>
</head>
<body>
<h1>Edit laptop</h1>
<a href="/orders">List Laptop</a>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/laptop/edit}" th:object="${laptop}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" th:value="${laptop.name}"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" name="image" th:value="${laptop.image}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description" th:value="${laptop.description}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" name="price" th:value="${laptop.price}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="name">
                    <option
                            th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">e
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Orders:</td>
            <td>
                <select name="customerDates">
                    <option
                            th:each="order : ${orders}"
                            th:value="${order.id}"
                            th:text="${order.customerDates}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Producer:</td>
            <td>
                <select name="name">
                    <option
                            th:each="p : ${producer}"
                            th:value="${p.id}"
                            th:text="${p.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>