<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-seurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br/>
<div>
    <a th:href="@{/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a><br/>
<a href="/laptop/create"><span th:text="#{laptop.create}"></span></a><br/>
<a href="/laptop"><span th:text="#{laptop.list}"></span></a>
<form>
    <span th:text="#{laptop.span_label}"></span>
    <input name="name_laptop" type="text">
    <input type="submit" th:value="#{laptop.search}">
</form>
<form>
    <select name="statusId">-->
                <option
                        th:each="status : ${statuses}"
                        th:value="${status.id}"
                        th:text="${status.name}">
                </option>
            </select>
            <input type="submit" th:value="#{laptop.search}">
</form>

<form>
        <select name="producerId">
            <option
                    th:each="p : ${producer}"
                    th:value="${p.id}"
                    th:text="${p.name}">
            </option>
        </select>
        <input type="submit" th:value="#{laptop.search}">
</form>

<div class="notify">
    <div th:if="${message}">
        <!--/*@thymesVar id="message" type="Gom.codegym.AppConfiguration"*/-->
        <span th:text="${message}"></span>
    </div>
    <h1><span th:text="#{laptop.h1}"></span></h1>
    <table border="1" >
        <tr>
            <th th:text="#{laptop.th_label1}"></th>
            <th th:text="#{laptop.th_label2}"></th>
            <th th:text="#{laptop.th_label3}"></th>
            <th th:text="#{laptop.th_label4}"></th>
            <th th:text="#{laptop.th_label5}"></th>
            <th th:text="#{laptop.th_label6}"></th>
            <th th:text="#{laptop.th_label7}"></th>
            <th th:text="#{laptop.th_label8}"></th>
            <th th:text="#{laptop.th_label9}"></th>
            <th th:text="#{laptop.th_label10}"></th>
            <th th:text="#{laptop.th_label11}"></th>
            <th th:text="#{laptop.th_label12}"></th>
            <th th:text="#{laptop.th_label13}"></th>

        </tr>
        <tr th:each="l : ${laptops} ">
            <td th:text="${l.name}"></td>
             <td>
            <img th:src="@{'/a/' + ${l.image}}" width="200px" height="auto">
             </td>

            <td th:text="${l.description}"></td>
            <td th:text="${l.price}"></td>
            <td th:text="${l.status.name}"></td>
            <td th:text="${l.orders.customerDates}"></td>
            <td th:text="${l.producer.name}"></td>
            <td th:text="${l.customer.name}"></td>
            <td th:text="${l.customer.phone}"></td>
            <td th:text="${l.customer.address}"></td>
            <td><a th:href="@{/laptop/edit/{id}(id=${l.getId()})}"><span th:text="#{laptop.th_label11}"></span></a></td>
            <td><a th:href="@{/laptop/delete/{id}(id=${l.getId()})}"><span th:text="#{laptop.th_label12}"></span></a></td>
            <td><a th:href="@{/laptop/view/{id}(id=${l.getId()})}"><span th:text="#{laptop.th_label13}"></span></a></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{'/laptop'(page=${laptops.number - 1})}" th:if="${laptops.hasPrevious()}"><span th:text="#{laptop.previous}"></span></a>
    <span th:text="${laptops.number + 1}"></span>/<span th:text="${laptops.totalPages}"></span>
    <a th:href="@{'/laptop'(page=${laptops.number + 1})}" th:if="${laptops.hasNext()}"><span th:text="#{laptop.next}"></span></a>
</div>
</body>
</html>