<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Customer</title>
</head>
<body>
<h1>View Laptop</h1>
<a href="/laptop">List Laptop</a>
<table>
    <tr>
        <td>Name:</td>
        <td th:text="${laptop.getName()}"></td>
    </tr>
    <tr>
        <td>Image:</td>
        <td th:text="${laptop.getImage()}"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td th:text="${laptop.getDescription()}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${laptop.getPrice()}"></td>
    </tr>
</table>
</body>
</html>