<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Spring Security Example</h2>
<hr/>
<div>
    <a th:href="@{/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a><br/>
<a href="/customer"><span th:text="#{status.list}"></span></a>

<div class="notify">
    <!--/*@thymesVar id="message" type="java"*/-->
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <h1><span th:text="#{status.h1}"></span></h1>
    <table border="1" >
        <tr>
            <th th:text="#{status.th_label1}"></th>
            <th th:text="#{status.th_label2}"></th>
            <th th:text="#{status.th_label3}"></th>
            <th th:text="#{status.th_label4}"></th>
        </tr>
        <tr th:each="s : ${statuses} ">
            <td th:text="${s.name}"></td>
            <td><a th:href="@{/customer/edit/{id}(id=${s.getId()})}"><span th:text="#{status.th_label2}"></span></a></td>
            <td><a th:href="@{/customer/delete/{id}(id=${s.getId()})}"><span th:text="#{status.th_label3}"></span></a></td>
            <td><a th:href="@{/customer/view/{id}(id=${s.getId()})}"><span th:text="#{status.th_label4}"></span></a></td>
        </tr>
    </table>
</div>
</body>
</html>